{% include 'main.html' %}

{% block title %}
<title>Hi, {{request.user.username}}</title>
{% endblock title %}

{% block content %}
<div class="home__panel">
   <div class="home__panel__left">

   </div>
   <div class="home__panel__right">
      <h3>Admins</h3>
      {% for admin in admins %}
         <div class="admin">
            <h4>{{admin.username}}</h4> - {{admin.last_login}} - {{admin.date_joined}}
         </div>
      {% endfor %}
      <h3>Users</h3>
      {% for user in users %}
         <div class="admin">
            <h4>{{admin.username}}</h4> - <a href="/user/:username">show</a>
         </div>
      {% endfor %}
   </div>
</div>
{% endblock content %}